.description{
    display: block;
    padding-left:100px;
}

.negative{
    justify-content: space-between;
    margin-inline: 15px;
}

.media-link{
    padding-top: 35px;
}

.justify{
    margin:0;
}

.individual{
    background-color: #5f6476;
}

li
{   
    display: inline;
}