
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    background-attachment: local; 
}
/*.oneback::after{
    animation-name: fadeout;
    animation-duration: .5s;
    filter: opacity(0%);
}*/
.oneback{
    position: relative;  
    display: inline-block;
}

.back{
    filter: opacity(0%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.front:hover{
    animation-name: fadeout;
    animation-duration: .5s;
    filter: opacity(0%);
}

.front:hover + .back{
    animation-name: fadein  ;
    animation-duration: .5s;
    filter: opacity(100%);
    
}

/*.oneback{
    animation-name: fadeout;
    animation-duration: .5s;
    background: url("../img/modelo top edit.png") left top no-repeat;
    background-size: 100%;
}

.oneback:hover{
    animation-name: fadein;
    animation-duration: .5s; 
    background: url("../img/modelo top 2.png") left top no-repeat;
    background-size: 100%;
}*/

.description{
    color: #ffffff;
    font-family: 'Helvetica 53 Extended';
    
    font-weight: bolder;
    display: block;
    padding-left:100px;
}

.negative{
    mix-blend-mode: difference;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 15px;
}
a{
    color: rgb(255, 255, 255);
}

.media-link{
    padding-top: 10px;
    font-family: 'Helvetica 53 Extended';
    font-size: 12px;

    
}

.justify{
    margin:0;
}

.top{
    background-color: #5f6476;
   
}
.remera{
    background-color: #af4803;
   
}


li
{   border-bottom: 2px rgb(255, 255, 255) solid;
    display: inline;
}

.container
{
    max-width: 970px;
}


.titlebox{
    margin-top: 10%;
    text-align: center;
    
}
.itembox{
    text-align: center;
}
.info{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Helvetica 83 Heavy Extended';
    
    text-shadow: 4px 4px rgb(8, 12, 70);
}
.item{
    color: #ffffff;
    font-family: 'Helvetica 53 Extended';   
    font-size: 20px;
    padding-top: 10px;
    text-shadow: 1px 1px rgb(8, 12, 70);
}

@keyframes fadeout{
    from {filter: opacity(100%);}
    to{filter: opacity(0%);}
}
@keyframes fadein{
    from {filter: opacity(0%);}
    to{filter: opacity(100%);}
}