
body{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    background-attachment: local;
   
    
    
    
}
.description{
    color: #ffffff;
    font-family: 'Helvetica 53 Extended';
    
    font-weight: bolder;
    display: block;
    padding-left:100px;
}

.negative{
    mix-blend-mode: difference;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 15px;
}
a{
    color: rgb(255, 255, 255);
}

.media-link{
    padding-top: 10px;
    font-family: 'Helvetica 53 Extended';
    font-size: 12px;

    
}

.justify{
    margin:0;
}

.top{
    background-color: #5f6476;
   
}
.remera{
    background-color: #af4803;
   
}


li
{   border-bottom: 2px rgb(255, 255, 255) solid;
    display: inline;
}

.container
{
    max-width: 970px;
}

